@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: "Red Hat Display";
}

nav {
    max-height: 15vh;
    min-height: 15vh;
    font-weight: bold;
}

.nome_empresa {
    font-size: 3vh;
    position: absolute;
    top: 0;
    left: 0;
    margin: 1.5rem;
}

.botoes_nav div {
    float: right;
    display: flex;
    margin-left: .5rem;
    margin-right: .5rem;
    font-weight: 700;
}

.botoes_nav {
    margin: 2rem;
}

.container .foto img {
    max-height: 75vh;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 2vh;
    height: auto;
}

.container .textos {
    max-width: 45vw;
    margin-left: 3.5vw;
    margin-top: 20vh;
}

.container .textos h1 {
    font-weight: 900;
    font-size: 5vh;
}

.container .textos input {
    background-color: #de638A;
    border-color: transparent;
    color: white;
    height: 3.5vh;
}